<div class="card shadow mt-2 mb-2">
    <div class="card-header">
        <h2 class="PageTitle">Add Order</h2>
    </div>
    <div class="card-body">
        <!-- Form -->
        <div class="col-md-8 mb-4 shadow px-2 py-2">
            <form [formGroup]="addMedicineOrderForm" (ngSubmit)="onAddMedicineOrder(addMedicineOrderForm.value)"
                novalidate>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <label class="element col-md-2">Medication Name: </label>
                    <input type="text" formControlName="medicationName" class="form-control element ml-4"
                        maxlength="100">
                </div>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <label class="element col-md-2">Dosage: </label>
                    <input type="text" formControlName="medicationDosage" class="form-control element ml-4"
                        maxlength="100">
                </div>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <label class="element col-md-2">Frequency: </label>
                    <input type="number" formControlName="medicationFrequency" class="form-control element ml-4"
                        maxlength="100">
                </div>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <label class="element col-md-2">Urgency Ranking: </label>
                    <input type="number" formControlName="urgencyRanking" class="form-control element ml-4"
                        maxlength="100">
                </div>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <label class="element col-md-2">Comments: </label>
                    <input type="text" formControlName="additionalComments" class="form-control element ml-4"
                        maxlength="100">
                </div>

                <div class="form-group labelAndTextbox div-marginbottom">
                    <button type="submit" class="btn btn-primary shadow" title="Add Order">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-maincolor button-marginleft shadow text-white"
                        [routerLink]="['/hospitalorders']" title="Hospital Orders"> <i class="fa fa-list fa-2x"></i>
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>