<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top top-nav-bar-overrides py-0">
      <a routerLink="/" class="navbar-brand">
        <span>&nbsp;&nbsp;</span><i class="fa fa-hospital-o"></i> MedsRUs
      </a>
      <ul class='nav nav-pills'>
        <li><a routerLink="/hospitalorders" routerLinkActive='active' class="nav-link">Hospital</a></li>
        <li><a routerLink="/pharmacyorders" routerLinkActive='active' class="nav-link">Pharmacy</a></li>
      </ul>
    </nav>
  </header>