<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top top-nav-bar-overrides py-0">
      <a routerLink="/" class="navbar-brand">
        <span>&nbsp;&nbsp;</span><i class="fa fa-hospital-o"></i> MedsRUs
      </a>
      <ul class='nav nav-pills'>
        <!-- <li><a routerLink="/nurse" routerLinkActive='active' class="nav-link">Nurse</a></li> -->
        <!-- <li><a routerLink="/physician" routerLinkActive='active' class="nav-link">Physician</a></li> -->
        <li><a routerLink="/orders-list" routerLinkActive='active' class="nav-link">Hospital</a></li>
        <li><a routerLink="/pharmacy-staff" routerLinkActive='active' class="nav-link">Pharmacy</a></li>
      </ul>
    </nav>
  </header>