<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card shadow text-black bg-light">
            <div class="card-header">MedsRUs</div>
            <div class="card-body">
                <h5 class="card-title">MedsRUs</h5>
                <p class="card-text">Some content to be replaced.</p>
                <a href="#" [routerLink]="['/']" class="btn btn-maincolor shadow text-white">MedsRUs</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow text-black bg-light">
            <div class="card-header">Nurse</div>
            <div class="card-body">
                <h5 class="card-title">Nurse</h5>
                <p class="card-text">Some content to be replaced.</p>
                <a href="#" [routerLink]="['/nurse']" class="btn btn-maincolor shadow text-white">Nurse</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card shadow text-black bg-light">
            <div class="card-header">Physician</div>
            <div class="card-body">
                <h5 class="card-title">Physician</h5>
                <p class="card-text">Some content to be replaced.</p>
                <a href="#" [routerLink]="['/physician']" class="btn btn-maincolor shadow text-white">Physician</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow text-black bg-light">
            <div class="card-header">Pharmacy</div>
            <div class="card-body">
                <h5 class="card-title">Pharmacy</h5>
                <p class="card-text">Some content to be replaced.</p>
                <a href="#" [routerLink]="['/pharmacy-staff']" class="btn btn-maincolor shadow text-white">Pharmacy</a>
            </div>
        </div>
    </div>
</div>